h2 {
    color:blue;
    font-family:Lobster;
    padding:10px;
    background-color: rgba(45, 45, 45, 0.1);
    font-size: 30px;
}

body{

}

.red-text{
    color:red;
}

p{
    font-size: 16px;
    font-family: monospace;
}

.smaller-image{
    width: 100px;
}

.thick-green-border{
    border-width: 10px;
    border-color: green;
    border-style: solid;
    border-radius: 50%;
}

.silver-background{
    background-color: silver;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
}